<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<form action="/added" target="_self" method="post">
    نام : <br>
    <select name="owner">
        <option value="علی">علی</option>
        <option value="الینا">الینا</option>
        <option value="مامان">مامان</option>
        <option value="ماشین">ماشین</option>
        <option value="خونه">خونه</option>
        <option value="سایر">سایر</option>
    </select>
    <br>
    موضوع : <br>
    <input type="text" name="name"><br>
    قیمت : <br>
    <input type="text" name="price"><br>
    سال : <br>
    <input type="text" name="year"><br>
    ماه : <br>
    <input type="text" name="month"><br>
    روز : <br>
    <input type="text" name="day"><br>
    اطلاعات : <br>
    <input type="text" name="additionalInformation"><br>
    <br>
    <input type="submit" value="ADD!">
</form>
</body>
</html>