<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form action="/searchProcess" target="_blank" method="post">
    نام : <br>
    <input type="text" name="owner"><br>
    موضوع : <br>
    <input type="text" name="name"><br>
    سال : <br>
    <input type="text" name="year"><br>
    ماه : <br>
    <input type="text" name="month"><br>
    روز : <br>
    <input type="text" name="day"><br>
    <br>
    <input type="submit" value="SEARCH!">
</form>
</body>
</html>